{% extends "superBase.twig" %}
{% block superContent %}
    {% if loggedIN == 0 %}
        {% block content %}
        {% endblock %}
    {% else %}
        <div class="alert alert-danger" role="alert">Access denied. Autorization required.</div>
    {% endif %}
{% endblock %}