{% extends "base.twig" %}

{% block title %}Standings{% endblock %}

{% block content %}
    <div id="formSettings">
        <h1>Standings Page</h1>
        {% for alliance, types in standings %}
            <h2>{{ alliance }}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Standings</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type, typeStanding in types %}
                        <tr>
                            <td>{{type}}</td>
                            <td>
                                <table class="">
                                    <tbody>
                                        {% for name, standing in typeStanding %}
                                            <tr>
                                            <td>{{name}}</td>
                                            <td>{{standing}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        </div>
{% endblock %}