<!DOCTYPE html>
<html>
    <head>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script> {#TODO: FIX JQUERY LIB#}
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>{% block title %}{% endblock %} - Coalition Services</title>
    </head>
    <body>
        <div class="page">
            <div class=wrap>
                {% block header %}{% include 'header.twig' %}{% endblock %}
            <div class="container">{#
            <div class="page-header">
            <h1>{% block pageName %}{% endblock %}</h1>
            </div>
            #}
                {% block superContent %}{% endblock %}
            </div>
            </div>
        </div>
        {% block footer %}
            {#<footer id="footer">
            </footer>#}
        {% endblock %}
    </body>
</html>